<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0' />
		<title>{{page_title}}</title>
		<link rel="stylesheet" href="{{absolute_prefix}}assets/css/main.css">

		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

	</head>
	<body>

		{{> @partial-block}}

	</body>

</html>
